{% extends "base.html" %}

{% block content %}

<h3>Allocate Seat</h3>

<form method="post" action="/allocate">
  <label>Applicant</label><br>
  <select name="applicant" required>

    <option value="">Select Applicant</option>
    {% for a in applicants %}
      <option value="{{ a.id }}">{{ a.name }}</option>
    {% endfor %}

  </select>

  <br><br>
  
  <label>Quota</label><br>

  <select name="quota" required>

    <option value="">Select Quota</option>

    <option value="KCET">KCET</option>
    <option value="COMEDK">COMEDK</option>
    <option value="Management">Management</option>

  </select>

  <br><br>

  <button type="submit">Allocate</button>

</form>

{% endblock %}
